body {
    background-color: rgb(148, 148, 148);
}

.main {
    background-color: rgb(223, 174, 223);
    margin: auto;
    width: 75%;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.optional {
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #e4e4e4;
}